@using WUG.Blazor.Pages

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/discordInvite.css" />
    <meta property="og:title" content="WUG: Community and More">
    <meta property="og:description" content="Washed Up Gamers">
    <meta property="og:url" content="https://wug.superjacobl.com/">
</head>

<div class="container vw-100">
    <div class="col-12">
        @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">Games. Community.</h1>
    <h2>Welcome to WUG</h2>
    <div class="container align-content-center justify-content-center">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2"></div>
        </div>
    </div>

    <div>
        @if (false)
        {
            <component type="typeof(Counter)" render-mode="WebAssemblyPrerendered" />
        }
    </div>

    <hr />
    <br />

    <br />
    <hr />

</div>

<footer>
    <script src="https://apis.google.com/js/platform.js"></script>
</footer>